<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aprendendo Express</title>
  <link rel="stylesheet" href="/styles/index.css">
  <script src="/scripts/helloWorld.js"></script>
  <script src="/scripts/changeLanguage.js"></script>
</head>
<body>
  <div>Estou aprendendo um pouco sobre Express!</div>
  <button onclick="changeLanguage('en-US')">Inglês</button>
</body>
</html>