<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Express</title>
  <link rel="stylesheet" href="/styles/index.css">
  <script src="/scripts/helloWorld.js"></script>
  <script src="/scripts/changeLanguage.js"></script>
</head>
<body>
  <div>I'm learn a little bit about Express!</div>
  <button onclick="changeLanguage('pt-BR')">Portuguese</button>
</body>
</html>